#page-pricing {
    display: flex;
    max-width: 1200px;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    h2 {
        margin-bottom: 45px;
    }
    .prices {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 46px;
        .card {
            display: flex;
            justify-content: center;
            background-position: center;
            background-size: cover;
            padding: 0 1.5rem;
            flex-direction: column;
            border-radius: 1rem;
            margin-bottom: 43px;
            * {
                font-weight: 400;
            }
            h3 {
                font-size: 24px;
                align-self: center;
                margin-bottom: 136px;
            }
            .price-value {
                font-size: 64px;
                margin-bottom: 40px;
                span {
                    vertical-align: text-top;
                    font-size: 32px;
                }
            }
            .btn {
                font-size: 16px;
                color: $white;
                text-transform: uppercase;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 270px;
                min-height: 66px;
                border: 2px solid $fade;
                border-radius: 5px;
                background: transparent;
            }
            .pricing-footer {
                margin: 64px 0;
                font-size: 12.8px;
            }
        }
        .free {
            background-image: url('../images/subscribe_1.png');
        }
        .standart {
            background-image: url('../images/subscribe_2.png');
        }
        .premium {
            background-image: url('../images/subscribe_3.png');
        }
    }
    p {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }
    @media (max-width: 1239px) {
        width: 100%;
        padding: 20px;
        .prices {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
    }
}
