/* Colors */

$fade: #cacaca;
$grey: #3C3B3D;
$black: #08020D;
$white: #fff;
$green: #34C176;
$orange: #F89202;
$violet: #5328A1;
$brown: #95390C;

/* Mixins */
@mixin desktop {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: transparent;
    text-decoration: none;
}
@mixin form-field {
    background: transparent;
    color: $white;
    padding-left: 20px;
    margin-bottom: 1.5rem;
    border: 2px solid $fade;
    border-radius: 3px;
}
