/* Colors */
/* Mixins */
/* Main */ /* Colors */
/* Mixins */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca;
}
body h1 {
  color: #fff;
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}
body h2 {
  color: #fff;
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}
body .align-items-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .banner-bg {
  width: 100%;
  height: 100%;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  content: "";
}
body .bg {
  width: 100%;
  height: 100%;
  background-color: #08020D;
}
body .bg-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
body .artist-bg {
  width: 100%;
  height: 100%;
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  content: "";
}
@media (max-width: 1239px) {
  body h1 {
    font-size: 30px;
    line-height: 45px;
  }
  body h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

.container {
  width: 100%;
  padding: 20px;
}
@media (min-width: 1240px) {
  .container {
    max-width: 1200px;
  }
}

.text-align-center {
  text-align: center;
}

header {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 25px;
  font-size: 11px;
  text-transform: uppercase;
}
header nav {
  display: flex;
  align-items: center;
  gap: 24px;
}
header nav .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin-right: 90px;
}
header nav .logo::before {
  display: inline-block;
  content: "";
  background-image: url("../images/logo.svg");
  background-size: cover;
  height: 24px;
  width: 24px;
  margin-right: 16px;
}
header nav .nav-link {
  text-decoration: none;
  color: #cacaca;
}
header nav .nav-link:hover {
  color: #fff;
}
header form input {
  color: #fff;
  width: 248px;
  height: 25px;
  padding-left: 10px;
  border-style: none;
  border-radius: 50px;
  background-color: #3C3B3D;
}
@media (max-width: 1239px) {
  header {
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
    top: 0;
  }
  header nav {
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 18px;
  }
  header nav .logo {
    margin-bottom: 17px;
  }
  header form {
    width: 100%;
  }
  header form input {
    width: 100%;
  }
}

.btn {
  border-radius: 5px;
}

#page-description {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;
}
#page-description .buttons {
  display: flex;
  gap: 1.5rem;
}
#page-description .buttons .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: transparent;
  text-decoration: none;
  width: 200px;
  padding: 20px 30px;
  font-size: 12.8px;
  text-transform: uppercase;
  color: #fff;
}
#page-description .buttons .brown {
  background-color: #95390C;
}
#page-description .buttons .brown::before {
  display: inline-block;
  content: "";
  background-image: url("../images/play-button.svg");
  background-size: cover;
  height: 20px;
  width: 20px;
  margin-right: 16px;
  filter: invert(100%) sepia(0%) saturate(100%) brightness(100%) contrast(100%);
}
#page-description .buttons .violet {
  background-color: #5328A1;
}
#page-description .buttons .violet::before {
  display: inline-block;
  content: "";
  background-image: url("../images/heart.svg");
  background-size: cover;
  height: 20px;
  width: 20px;
  margin-right: 16px;
  filter: invert(100%) sepia(0%) saturate(100%) brightness(100%) contrast(100%);
}
#page-description h1, #page-description h2 {
  margin: 0;
  color: #fff;
}
#page-description p {
  margin-top: 31px;
  margin-bottom: 17px;
  font-size: 16px;
  color: #fff;
}
#page-description .text-form {
  max-width: 570px;
}
#page-description .text-form form {
  display: grid;
  column-gap: 24px;
  grid-template: "name-field email-field" "submit     submit";
}
#page-description .text-form form input {
  min-width: 270px;
  min-height: 50px;
}
#page-description .text-form form .name {
  background: transparent;
  color: #fff;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: 2px solid #cacaca;
  border-radius: 3px;
  grid-area: name-field;
}
#page-description .text-form form .email {
  background: transparent;
  color: #fff;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: 2px solid #cacaca;
  border-radius: 3px;
  grid-area: email-field;
}
#page-description .text-form form .submit {
  color: #fff;
  grid-area: submit;
  background-color: #34C176;
  padding: 20px 30px;
  border-radius: 5px;
}
@media (max-width: 1239px) {
  #page-description {
    width: 100%;
  }
  #page-description p {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  #page-description .buttons {
    flex-direction: column;
  }
  #page-description .text-form {
    max-width: none;
    width: 100%;
  }
  #page-description .text-form form {
    grid-template: "name-field" "email-field" "submit";
  }
}

#page-pricing {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
#page-pricing h2 {
  margin-bottom: 45px;
}
#page-pricing .prices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 46px;
}
#page-pricing .prices .card {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  padding: 0 1.5rem;
  border-radius: 1rem;
  margin-bottom: 43px;
}
#page-pricing .prices .card h3 {
  font-size: 24px;
  align-self: center;
  margin-bottom: 136px;
}
#page-pricing .prices .card .price-value {
  font-size: 64px;
  align-self: center;
  margin-bottom: 40px;
}
#page-pricing .prices .card .price-value span {
  vertical-align: text-top;
  font-size: 32px;
}
#page-pricing .prices .card .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: transparent;
  text-decoration: none;
  font-size: 16px;
  border: 2px solid #cacaca;
  color: #fff;
  min-width: 270px;
  min-height: 66px;
  text-transform: uppercase;
}
#page-pricing .prices .card .pricing-footer {
  margin: 64px 0;
  font-size: 12.8px;
}
#page-pricing .prices .free {
  background-image: url("../images/subscribe_1.png");
}
#page-pricing .prices .standart {
  background-image: url("../images/subscribe_2.png");
}
#page-pricing .prices .premium {
  background-image: url("../images/subscribe_3.png");
}
#page-pricing p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 1239px) {
  #page-pricing {
    width: 100%;
  }
  #page-pricing .prices {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

#page-news {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
#page-news h2 {
  margin-bottom: 48px;
}
#page-news .news {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
#page-news .news * {
  font-weight: normal;
}
#page-news .news-item {
  display: grid;
  column-gap: 50px;
}
#page-news .news-item img {
  grid-area: img;
}
#page-news .news-item .news-body {
  display: flex;
  flex-direction: column;
  grid-area: news-body;
}
#page-news .news-item .news-body h3 {
  color: #fff;
  text-transform: capitalize;
  font-size: 30px;
  line-height: 45px;
  margin: 0;
}
#page-news .news-item .news-body p {
  color: #cacaca;
  margin: 30px 0 24px;
  font-size: 16px;
}
#page-news .news-item .news-footer {
  display: flex;
  flex-direction: column;
  grid-area: news-footer;
}
#page-news .news-item .news-footer .news-author {
  display: flex;
  align-items: center;
  color: #F89202;
  text-transform: uppercase;
  font-size: 12px;
}
#page-news .news-item .news-footer .news-author::before {
  display: inline-block;
  content: "";
  background-image: url("../images/avatar.png");
  background-size: cover;
  height: 19px;
  width: 19px;
  margin-right: 16px;
}
#page-news .news-item .news-footer .news-author::after {
  display: inline-block;
  margin-left: 16px;
}
#page-news .news-item .news-footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 53px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  color: #cacaca;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 48px 0 28px;
  padding: 16px 30px;
}
#page-news .left {
  grid-template: "img news-body" "img news-footer";
}
#page-news .left .news-footer .news-author::after {
  color: #fff;
  content: "17/01/2020";
}
#page-news .right {
  grid-template: "news-body   img" "news-footer img";
}
#page-news .right .news-footer .news-author::after {
  color: #fff;
  content: "24/02/2020";
}
@media (max-width: 1239px) {
  #page-news {
    width: 100%;
  }
  #page-news .news {
    gap: 64px;
  }
  #page-news .news-item {
    display: flex;
    flex-direction: column;
  }
  #page-news .news-item img {
    width: 100%;
    margin-bottom: 50px;
  }
  #page-news .news-item .news-body {
    margin-bottom: 16px;
  }
  #page-news .news-item .news-body h3, #page-news .news-item .news-body p {
    font-size: 16px;
  }
  #page-news .news-item .news-body h3 {
    margin-bottom: 16px;
  }
  #page-news .news-item .news-body p {
    margin: 0;
    color: #cacaca;
  }
}

#page-app {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}
#page-app .app {
  display: flex;
}
#page-app .app img {
  margin: 0 143px;
}
#page-app .app p {
  color: #cacaca;
  font-size: 16px;
}
#page-app .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: transparent;
  text-decoration: none;
  display: inline-flex;
  border-radius: 32px;
  padding: 16px 40px;
  font-size: 12.8px;
  color: #fff;
  background-color: #95390C;
  border: none;
}
@media (max-width: 1239px) {
  #page-app {
    width: 100%;
  }
  #page-app .app {
    flex-direction: column-reverse;
  }
  #page-app .app img {
    margin: 0;
  }
}

#page-popular-track {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
#page-popular-track .tracks {
  width: 100%;
  display: grid;
  column-gap: 50px;
  row-gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
#page-popular-track .popular-track {
  width: 100%;
  display: flex;
  gap: 15px;
}
#page-popular-track .popular-track img {
  width: 55px;
  height: 55px;
}
#page-popular-track .popular-track .track-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#page-popular-track .popular-track .track-info h3, #page-popular-track .popular-track .track-info p {
  margin: 0;
  font-size: 12.8px;
}
#page-popular-track .popular-track .track-info h3 {
  color: #fff;
  text-transform: uppercase;
  line-height: 19.2px;
  font-weight: bold;
}
@media (max-width: 1239px) {
  #page-popular-track .tracks {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, auto);
  }
}

#page-discography {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
#page-discography .disco {
  width: 100%;
  display: grid;
  column-gap: 50px;
  row-gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
}
#page-discography .discography-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#page-discography .discography-item img {
  width: 250px;
  height: 250px;
}
#page-discography .discography-item .discography-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#page-discography .discography-item .discography-info h3, #page-discography .discography-item .discography-info p {
  margin: 0;
  font-size: 16px;
}
#page-discography .discography-item .discography-info h3 {
  color: #fff;
  text-transform: capitalize;
  line-height: 27px;
  font-size: 18px;
  font-weight: bold;
}
@media (max-width: 1239px) {
  #page-discography .disco {
    grid-template-columns: repeat(2, 138px);
    grid-template-rows: repeat(auto-fill, 1fr);
  }
  #page-discography .disco .discography-item img {
    width: 137px;
    height: 137px;
  }
}

#page-similar {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  margin-bottom: 100px;
}
#page-similar .similar {
  width: 100%;
  display: grid;
  column-gap: 50px;
  row-gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
}
#page-similar .similar-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#page-similar .similar-item img {
  width: 250px;
  height: 250px;
}
#page-similar .similar-item .similar-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#page-similar .similar-item .similar-info h3, #page-similar .similar-item .similar-info p {
  margin: 0;
  font-size: 16px;
  text-align: center;
}
#page-similar .similar-item .similar-info h3 {
  color: #fff;
  text-transform: capitalize;
  line-height: 27px;
  font-size: 18px;
  font-weight: bold;
}
@media (max-width: 1239px) {
  #page-similar .similar {
    grid-template-columns: repeat(2, 137px);
    grid-template-rows: repeat(auto-fill, 1fr);
  }
  #page-similar .similar .similar-item img {
    width: 137px;
    height: 137px;
  }
}

footer {
  display: flex;
  flex-direction: column;
}
footer a {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}
footer hr {
  width: 100%;
  border: 1px solid #E0E0E0;
}
footer h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
}
footer .top-footer {
  display: grid;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}
footer .top-footer .column {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
footer .top-footer .icons {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
@media (max-width: 1239px) {
  footer .top-footer {
    padding: 20px;
    gap: 30px;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
footer .bottom-footer {
  display: flex;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 16px;
}
@media (max-width: 1239px) {
  footer .bottom-footer {
    padding: 20px;
    flex-direction: column;
  }
}